<div class="row">
  <div class="container">
    <h1 id="mySiteName">Cre8tn Havic</h1>
  </div>
  <div class="container">
    <h1 class="container sectionHeader">Latest Posts</h1>
    <div class="container">
      <% Blog.all.each do |blog| %>
      <h1 class="blogPostTitle"> <%= blog.title %></h1>
        <p class="blogPostBody"> <%=blog.body %></p>

      <% end %>

    </div>
  </div>
</div>